logs/
.gitignore
.idea/
*.iml
Motadata/192.168.137.30.txt
/Motadata/result
/Motadata/result
/Motadata/result
/Motadata/result
DataStore/src/main/java/org/polleddatastore/Pusher.java
Motadata/src/main/java/org/motadata/database/Database.java
Motadata/result/172.16.8.113.txt
