<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread][%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="UTILS_LOGS" class="ch.qos.logback.core.FileAppender">
        <file>logs/utils.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FileUtil_LOGS" class="ch.qos.logback.core.FileAppender">
        <file>logs/fileUtil.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MAIN_LOGS" class="ch.qos.logback.core.FileAppender">
        <file>logs/main.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.polleddatastore.utils.Util" level="TRACE" additivity="false">
        <appender-ref ref="UTILS_LOGS" />
    </logger>

    <logger name="org.polleddatastore.Main" level="TRACE" additivity="false">
        <appender-ref ref="MAIN_LOGS" />
    </logger>

    <logger name="org.polleddatastore.utils.FileUtil" level="TRACE" additivity="false">
        <appender-ref ref="FileUtil_LOGS" />
    </logger>








</configuration>